#div1{
	border: 15px solid rgb(0, 0, 255);
	width:300px;
	background-color:lightblue;
}
#div2{
	
	margin:20px;
	border:15px solid blue;
	background-color:gray;
}
#div3{
	padding:50px;
}
#div4{
	border:1px solid black;
}
#div5{
	border:1px dashed black;
	}